<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, inital-scale=1.0, maxinum-scale=1.0, user-scalable=0">

	<title><%= title %></title>
	<link rel="stylesheet" href="../css/normalize.css">
	<link rel="stylesheet" href="../css/success.css">
</head>
<body>

	<header>
		<div class="left">
			<a href="<%= backURL %>"><i class="iconfont">&#xe61b;</i></a>
			<!-- <i class="iconfont back" >&#xe601;</i> -->
		</div>
		<div class="right">
			<div class="title">吃哩</div>
		</div>
	</header>
	<div class="container">
	<div id="content">
		<div class="info">
			<i class="iconfont">&#xe610;</i> 购买成功，即将配送
		</div>
		<div class="tips">
			(ps.可以在吃哩吃哩订单号查询订单哟，亲)
		</div>
		<a href="<%= backURL %>" class="gohome">
				继续逛逛
		</a>
	</div>

	
	</div>
<footer>
		 2014-2015 @ 吃哩吃哩 
	</footer>
	<script src="../bower_components/zepto/zepto.min.js"></script>
	<script src="../js/success.js"></script>
</body>
</html>